.master
{
	background-color: chocolate;
	border-color: maroon;
	border-radius: 8px;
	border-style: solid;
	margin: 4px;
}

.search-bar
{
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: center;
	padding: 8px;
}

.workspace
{
	align-items: center;
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: space-between;
}

.workspace-user-form
{
	justify-content: center;
}

.hidden
{
	display: none;
}
