.master
{
	background-color: chocolate;
	border-color: maroon;
	border-radius: 8px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	margin: 4px;
}

.search-bar
{
	flex-direction: row;
	gap: 16px;
	justify-content: center;
	padding: 8px;
}

.workspace
{
	align-items: center;
	display: flex;
	flex: 2;
	justify-content: space-evenly;
}

.user-form-labels, .user-form-fields
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.user-form-labels
{
	gap: 16px;
	grid-column: 1;
	grid-row: 1;
}

.user-form-fields
{
	gap: 16px;
	grid-column: 2;
	grid-row: 1;
}

.user-form-controller
{
	display: flex;
	gap: 16px;
	grid-column: 1 / 3;
	grid-row: 3;
	justify-content: center;
}

.blog-post
{
	align-items: center;
	border: none;
	border-bottom-color: maroon;
	border-bottom-style: solid;
	margin: 0;
	justify-content: center;
}

.blog-post input, .blog-post textarea
{
	background-color: inherit;
	border: none;
	border-bottom-color: maroon;
	border-bottom-style: solid;
	cursor: default;
	font-size: large;
	outline: none;
	width: 99.7%;
	text-align: center;
}

.blog-post .blog-post-controller
{
	display: flex;
	gap: 16px;
	justify-content: center;
	padding: 8px;
}

.comment
{
	display: grid;
}

.comment-left, .comment-right
{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comment-left
{
	grid-column: 1;
	grid-row: 1;
}

.comment-left input, .comment-right input, .comment-left textarea, .comment-right textarea
{
	background-color: inherit;
	border: none;
	outline: none;
	padding: 8px;
}

.comment-right
{
	background-color: brown;
	grid-column: 2;
	grid-row: 1;
	justify-content: space-evenly;
}

.comment-right textarea, .comment-right input
{
	color: white;
}

.hidden
{
	display: none;
}
