#header-top, #header-middle, #header-bottom, #footer-top, #footer-middle, #footer-bottom
{
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 4px;
}

#header-top, #header-bottom, #footer-middle
{
	background-color: brown;
	color: white;
}

#header-middle
{
	flex: 3;
}

#header-top
{
	gap: 16px;
	justify-content: flex-start;
}

#comment-creator
{
	align-items: center;
	justify-content: center;
}

#footer-bottom
{
	background-color: maroon;
	color: white;
}
