html, body
{
	height: calc(100vh * 3);
	margin: 0;
	padding: 0;
	width: 99vw;
}

body, header, form, footer
{
	display: flex;
}

body
{
	flex-direction: column;
}

header
{
	flex-direction: column;
	height: 15%;
	justify-content: space-evenly;
}

a
{
	color: orange;
	outline: none;
	text-decoration: none;
	padding: 4px;
}

button
{
	background-color: maroon;
	border: none;
	border-color: maroon;
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
	box-shadow: 4px 4px black;
	color: white;
	height: 32px;
	margin: 4px;
	width: 128px;
}

button:hover
{
	background-color: brown;
	cursor: pointer;
}

form
{
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

form input
{
	border-radius: 8px;
	margin: 16px;
	padding: 8px;
	width: 256px;
}

footer
{
	flex-direction: column;
}
